html {
  background-color: #e1dad0;
  height          : 100%;
  width           : 100%;
}

.App {
  text-align     : center;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  height         : 100%;
}

.fretboard {
  display         : inline-block;
  position        : relative;
  width           : 600px;
  height          : 150px;
  background-color: #f9f9f9;
  border          : 1px solid #ddd;
  top             : 30px;
  margin-bottom   : 60px;

  .numbers {
    display: flex;
  }
}

.note {
  position     : absolute;
  height       : 24px;
  width        : 24px;
  border-radius: 30px;
  border       : 1px solid #000;
}

.string {
  position        : absolute;
  width           : 100%;
  height          : 2px;
  background-color: #888;
}

.fret {
  position        : absolute;
  width           : 3px;
  height          : 100%;
  background-color: #888;

  .top {
    position: absolute;
    top     : -30px;
    left    : -30px;
  }
  
  .bottom {
    position: absolute;
    top     : 180px;
    left    : -30px;
  }
}

.selection {
  display        : flex;
  margin-top     : 20px;
  justify-content: center;
  align-items    : center;
  flex-direction: column;
}

select { 
  margin       : 10px;
  border-radius: 3px;
  padding      : 5px;

  .note-options {
    width: 30px;
  }
}