.App {
  text-align     : center;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fretboard {
  display         : inline-block;
  position        : relative;
  width           : 600px;
  height          : 150px;
  background-color: #f9f9f9;
  border          : 1px solid #ddd;
  top             : 30px;
  margin-bottom   : 60px;
}
.note {
  position     : absolute;
  height       : 24px;
  width        : 24px;
  border-radius: 30px;
  border       : 1px solid #000;
}
@for $i from 1 through 6 {
  .string-#{$i} {
    top             : ($i - 1) * 30px;
    position        : absolute;
    width           : 100%;
    height          : 2px;
    background-color: #888;
  }
}

@for $i from 1 through 13 {
  .fret-#{$i} {
    left            : calc(($i - 1) * 50px);
    position        : absolute;
    width           : 3px;
    height          : 100%;
    background-color: #888;
  }
}

select { 
  width : 100px;
  margin: 10px 0px;
}